<div class="lg:text-center mt-8">
  <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">Stats</h2>
  <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
    Check your shortened links' performance!
  </p>
  <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
    View all the links generated with its number of clicks. <br>
    Click on the title to get more details about each visit.
  </p>
</div>