<div class="relative items-center w-full px-5 py-3 mx-auto  md:px-12 lg:px-16 max-w-7xl lg:py-6">
  <div class="flex text-bottom space-x-8 mb-4">
    <div class="self-end text-3xl font-semibold">Stats</div>
    <div class="flex w-40 text-center border-2 border-gray-200 px-4 py-6 rounded-lg space-x-4">
      <%= image_tag 'cursor.png', class: "w-12 h-12 mb-3 inline-block" %>
      <div>
        <h2 class="text-blue-600 font-medium text-3xl"><%= @link.clicks %></h2>
        <p class="leading-relaxed"><%= "Click".pluralize(@link.clicks) %></p>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  #
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Timestamp
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Geolocation
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% if @stats.length == 0 %>
                <tr>
                  <td class="p-4 text-gray-400">There's no clicks on this link yet</td>
                </tr>
              <% else %>
                <%= render @stats %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
