<div class="relative bg-gray-600">
  <div class="px-4 sm:px-6">
    <div class="flex justify-start items-center  py-6 space-x-10">
      <div class="flex pr-10 border-r-2 border-blue-500">
        <a href="/">
          <%= image_tag 'scissors.png', class: "h-8 w-auto sm:h-10" %>
        </a>
      </div>      
      <nav class="flex space-x-10">
        <a href="/" class="text-base font-medium text-gray-200 hover:text-white">
          Home
        </a>
        <a href="#" class="text-base font-medium text-gray-200 hover:text-white">
          Stats
        </a>
      </nav>      
    </div>
  </div>
</div>
